<%if (loginMessage) {%>
    <div class="alert alert-primary" role="alert">
        <%= loginMessage %>
      </div>
  <% } %>
  <%if (registerMessage) {%>
    <div class="alert alert-primary" role="alert">
        <%= registerMessage %>
    </div>
  <% } %>