<style type="text/css">
p{ 
    margin-bottom: 10%;
}

</style>

<p>
    <footer class="text-center text-lg-start bg-dark text-white">
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Siguenos en nuestras redes sociales:</span>
          </div>
          <div>
            <a href="https://www.ywp-spain.es/wp-content/uploads/2019/06/icono-facebook.png" class="me-4 text-reset">
              <img src="https://www.ywp-spain.es/wp-content/uploads/2019/06/icono-facebook.png" height="40px" width="40px">
            </a>
            <a href="" class="me-4 text-reset">
              <img src="https://www.danoneinstitute.org/wp-content/uploads/2020/06/logo-rond-twitter.png" height="40px" width="40px">
            </a>
            <a href="/" class="me-4 text-reset">
              <img src="imagenes/favicon.png" height="40px" width="40px">
            </a>
            <a href="https://www.linkedin.com/in/dar%C3%ADo-s%C3%A1nchez-iturralde-0092ab221/" class="me-4 text-reset">
              <img src="https://mekes.com/app/uploads/2020/12/linkedin-logo.png" height="40px" width="40px">
            </a>
            <a href="https://github.com/DarioSanchez99/ProyectoFinalGrado" class="me-4 text-reset">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="40px" width="40px">
            </a>
          </div>
        </section>
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Jojo Jambo Game
                </h6>
                <p>
                  Página oficial del juego Jojo Jambo creado por Darío Sánchez Iturralde.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Autores
                </h6>
                <p>
                  <a href="#!" class="text-reset">Creacion página web:</a>
                </p>
                <br>
                <p>
                  <a href="#!" class="text-reset">Programación del videojuego:</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Arte gráfico del juego:</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Darío Sánchez Iturralde</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Darío Sánchez Iturralde</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contacto
                </h6>
                  <i class="fas fa-envelope me-3"></i>
                  dariosancheziturralde@gmail.com
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    </p>