<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <body>
<nav class="navbar navbar-dark bg-dark">
  <img src="../imagenes/LogoJuego.png">
  <% if (!user) { %>
  <div class="btn-group">
  <a href="/login" class="btn btn-dark">Login</a>
  <a href="/register" class="btn btn-dark">Registrarse</a>
  </div>
  <% } else { %>
    <div class="btn-group">
      <a href="/logout" class="btn btn-dark">Cerrar sesión</a>
      <a href="/profile" class="btn btn-dark">Juego</a>
      </div>
  <% } %>

  <br>
      </nav>
  <%- body %>
</body>
</html>

