<%- layout('partials/main') %>

<div class="mx-auto" style="width: 600px;">
    Este juego arcade 2D esta desarrollado por Darío Sánchez Iturralde. Controlaras a Jojo Jambo quien tendrá que pasar por dificultades en la selva como soldados y el terrreno peligroso.
    <br>
    A continuación un video para mostrar los graficos 2D del juego.
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PX6FhRZiLbk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    El nivel disponible lo mostraremos a continuación con capturas:
    <br>
    <img src="imagenes/controlesJuego.jpg"  height="400px">
    <img src="imagenes/menuJuego.jpg" height="400px">
    <br> 
    <img src="imagenes/winJuego.jpg"  height="400px" >
    <img src="imagenes/capturaJuego.jpg"  height="400px">
</div>
  
